<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="text-center">
      stuff
    </div>
    <div class="text-center">
      more stuff
    </div>
  </div>
</nav>
