<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container" id="main-nav">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "All URLS", url_index_path %>
      </li>
      <li>
        <%= link_to "Cruncher", root_path %>
      </li>
    </ul>
  </div>
</nav>
