<h1 class="text-center">Hello! Enter a URL to get it's shorter cousin for sharing.</h1>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= form_for @url do |f| %>
      <%= f.label :orginal_url %>
      <%= f.text_field :original_url %>
    <% end %>
  </div>
</div>
