#main-wrapper {

}

#main-nav {
  display: flex;
  justify-content: space-around;
}

#url-crunch-input-label {
  font-size: 20px;
}

#url-crunch-input {
  height: 40px;
  width: 500px;
  font-size: 30px;
}

#url-crunch-submit {
  margin: 10px 10px 10px 10px;
}

#url-index-table-wrapper {
  margin: auto;
  margin-top: 150px;
  height: 1000px;
  width: 700px;
}

#url-index-table {
  margin: auto;
}
